<div class="row">
  <aside class="col-sm-8">
    <div>
      <h1><%= @user.name %>さんの小遣い帳リスト</h1>
    </div>
  </aside>
  <div class="col-sm-2">
    <% if current_user == @user %>
      <%= link_to '新規小遣い帳', new_title_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <%= link_to '小遣い帳一覧', '/', class: 'btn btn-primary' %>
  </div>
</div>
<img src="<%= @user.image.url %>" width="100", height="100">
<% if current_user == @user %>
  <%= link_to 'アカウント情報の編集', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'アカウントの削除', user_path(@user), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger' %>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">個人</h3>
      </div>
      <div class="card-body">
        <% if @titles %>
          <ul>
            <% @titles.each do |title| %>
              <% if title.status == false %>
                <li><td class="text-left"><%= link_to title.name, title_path(title) %></td></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">共有</h3>
      </div>
      <div class="card-body">
        <% if @titles %>
          <ul>
            <% @titles.each do |title| %>
              <% if title.status == true %>
                <li><td class="text-left"><%= link_to title.name, title_path(title) %></td></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
