<% if logged_in? %>
  <div class="row">
    <div class="offset-sm-6 col-sm-2">
      <%= link_to '一覧', '/', class: 'btn btn-primary' %>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: title, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form_group">
          <%= f.label :name, 'title' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <div class="radio-inline">
            <%= f.radio_button :status, '個人用', checked: "checked" %>
            <%= f.label '個人用' , class: "job_type_label" %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :status, '共有' %>
            <%= f.label :'共有', class: "job_type_label" %>
          </div>
        </div>
        <%= f.submit action, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>