<div class="row">
  <aside class="col-sm-8">
    <div>
      <h1><%= @title.name %></h1>
    </div>
  </aside>
  <div class="col-sm-2">
    <% if @title.status == true || current_user == @title.user %>
      <%= link_to 'タイトル編集', edit_title_path,class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <%= link_to 'タイトル一覧', '/', class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="offset-sm-8 col-sm-4">
    <h3>タグ検索</h3>
    <%= form_tag(title_path(@title), :method => 'get' ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>
</div>
<table class="table table-striped table-bordered" style="border:none;">
  <thead>
    <tr>
      <th class="text-left">日</th>
      <th class="text-left">場所</th>
      <th class="text-left">名前</th>
      <th class="text-left">価格</th>
      <th class="text-left">タグ１</th>
      <th class="text-left">タグ２</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td class="text-left"><%= item.day %></td>
        <td class="text-left"><%= item.place %></td>
        <td class="text-left"><%= item.name %></td>
        <td class="text-left"><%= number_to_currency(item.price, :locale => 'suuji') %></td>
        <td class="text-left"><%= item.tag_1 %></td>
        <td class="text-left"><%= item.tag_2 %></td>
        <% if @title.status == true || current_user == @title.user %>
          <td style="border:none;"><%= link_to '編集', edit_item_path(item, title_id: @title.id), class: 'btn btn-primary' %></td>
          <td style="border:none;"><%= link_to '削除', item_path(item, title_id: @title.id), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </thead>
</table>
<div class="row">
  <div class="offset-sm-10 col-sm-2">
    <% if @title.status == true || current_user == @title.user %>
      <%= link_to '項目追加', new_item_path(title_id: @title.id), class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="offset-sm-8 col-sm-4">
    <h2>合計：　<%= @count_items %>品　<%= number_to_currency(@title.total_fee, :locale => 'jp') %></h2>
  </div>
</div>
<% if current_user == @title.user %>
  <%= link_to 'この小遣い帳を削除する', title_path(@title), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger btn-sm' %>
<% end %>

<ul class="list-unstyled">
  <% @coments.each do |coment| %>
    <div>
      <% user = User.find(coment.userid) %>
      <% if user.id == @title.user_id %>
        <li class="text-right">
      <% else %>
        <li class="text-left">
      <% end %>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= coment.created_at %></span>
          <p><%= coment.content %></p>
          <% if user.id == @current_user.id %>
            <%= link_to "Delete", coment_path(coment, title_id: @title.id), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </li>
    </div>
  <% end %>
  <%= paginate @coments %>
</ul>

<%= form_with(model: @coment, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
  </div>
  <%= f.hidden_field :title_id %>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>